apiVersion: apps/v1
kind: Deployment
metadata:
  name: ecommerce-frontend
  namespace: world
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ecommerce
  template:
    metadata:
      labels:
        app: ecommerce
    spec:
      containers:
        - name: ecommerce
          image: gcr.io/google-samples/microservices-demo/frontend:v0.10.1
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
---
apiVersion: v1
kind: Service
metadata:
  name: ecommerce-service
  namespace: world
spec:
  type: LoadBalancer
  selector:
    app: ecommerce
  ports:
    - port: 80
      targetPort: 8080